/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    text-align: center;
    color: blue;
    font-size: 36px;
    background-color: white;
}

h3 {
    position: relative;
    color: white;
    text-align: center;
    top: -20px;
}

h4 {
    position: relative;
    text-align: right;
    left: 188px;
    top: 5px;
}

#title {
    position: relative;
    width: 800px;
    margin: auto;
}

#gameDiv {
    position: relative;
    width: 800px;
    margin: auto;
}

#leaderBoard {
    position: absolute;
    border-radius: 25px;
    background: black;
    padding: 20px; 
    width: 200px;
    height: 300px;
    left: 80%;
    bottom: 295px;
}

#controlsDiv {
    position: absolute;
    border-radius: 25px;
    background: black;
    padding: 20px; 
    width: 200px;
    height: 150px;
    left: 80%;
    bottom: 85px;
    content: url("../images/Controls.png");
}

body {
    background-image: url("../images/BlueprintBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

#container {
    margin:auto;
    width:70%;
    height:auto;
}
