h1 {
    text-align: center;
    color: blue;
    font-size: 36px;
}

h3 {
    position: relative;
    color: white;
    text-align: center;
    top: -20px;
}

h4 {
    position: relative;
    text-align: right;
    left: 188px;
    top: 5px;
    color: #fff;
    
}

#title {
    position: relative;
    width: 800px;
    height: 150px;
    margin: auto;
    background-image: url("../images/GameTitleText.png");
    background-size: 100% 100%;
}

#gameDiv,
a#sign_in {
    position: relative;
    width: 800px;
    margin: auto;
}

.userInfo {
    background: #000;
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
    width: 800px;
    margin:auto;
    margin-bottom: 10px;
}

.userInfo a {
    color: #AEC8D7;
}

/* Add a glow to the sections so they stand out from the background */
#gameDiv, #leaderBoard, #controlsDiv, a#sign_in, .userInfo {
    -webkit-box-shadow: 10px 10px 25px -12px rgba(109,224,52,1);
    -moz-box-shadow: 10px 10px 25px -12px rgba(109,224,52,1);
    box-shadow: 10px 10px 25px -12px rgba(109,224,52,1);
}

#leaderBoard {
    position: absolute;
    border-radius: 25px;
    background: black;
    padding: 20px; 
    width: 200px;
    height: 300px;
    left: 80%;
    bottom: 295px;
}

#controlsDiv {
    position: absolute;
    border-radius: 25px;
    background: black;
    padding: 20px; 
    width: 200px;
    height: 150px;
    left: 80%;
    bottom: 85px;
    content: url("../images/Controls.png");
}

body {
    background-image: url("../images/BlueprintBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #0D58CB;
}

#container {
    margin:auto;
    width:70%;
    height:auto;
    color: #fff;
}

a#sign_in {
    content: url("../images/GrayedStarBackground.jpg");
    background: url("../images/PressedGrayedStarBackground.jpg");
}

a#sign_in:active {
    content: url("../images/PressedGrayedStarBackground.jpg");
}
