<% @scores.each do |score| %>
  <tr>
  
   
    <td><%= image_tag current_user.image, class:"img-circle", width: 20 %> </td>
    <td><%= score.email.split('@')[0] %></td>
    <td><%= score.score  %></td>
    

  </tr>
<% end %>