<% if current_user %>

			<div id=gameElements> 
    <div id=gameDiv></div>

    <div id=keyDiv></div>

<div id=leaderBoard>
    <h3>Leader Board</h3>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Score</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody class="scores-index">
      <%= render "score" %>
    </tbody>
  </table>
</div>
<div id=controlsDiv></div>
    </div>


		<% end %>